<div class="container-fluid">
  <div class="row">

  <div class="logIn">
  <h3>Log-In</h3>
  <%= form_tag('/sessions', method:'post') do %>
    <%= label_tag :username %>
    <%= text_field_tag :username, nil, class: 'form-control' %>
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: 'form-control' %>
    <%= submit_tag "Log-In", class: "btn btn-block btn-lg btn-inverse" %>
  <% end %>

  </div>
</div>
</div>
<div id="emitter"></div>
<div id="instructions">Click the dot. Dragging works too.</div>
